<form action="{% url 'shop:search' %}" method="get">
    <input type="text" name="query" placeholder="Please enter the desired word...">
    <input type="submit" value="search">
</form>

<br>
{% if request.user.is_authenticated %}
    <a href="{% url 'account:profile' %}">پروفایل</a>
{% else %}
    <a href="{% url 'account:verify_phone' %}">ورود یا ثبت نام</a>
{% endif %}

<br>
<br>
<div class="cart-container">
    {% with item_count=cart|length %}
        <a href="{% url 'cart:cart_detail' %}" class="cart-link">
            <div class="cart-info-container">
                <span class="cart-icon">🛒</span>

                <span class="cart-info">
                    <span class="item-count">{{ item_count }}</span> item's, <span class="total-price">
                    {{ cart.get_total_price }}T</span>
                </span>
            </div>
        </a>
    {% endwith %}
</div>
<br>
