{% extends 'parent/base.html' %}
{% block title %} product detail {% endblock %}
{% block content %}
    {% for img in product.images.all %}
        <img width="150" height="150" src="{{ img.image_file.url }}">
    {% endfor %}
    <img src="{{ product.images.image_file.url }}">
    <p>اسم محصول :{{ product.name }}</p>
    <p>توضیحات :{{ product.description }}</p>
    <p>موجودی :{{ product.inventory }}</p>
        <ul>
        {% for feature in product.features.all %}
            <li>{{ feature.name }}: {{ feature.value }}</li>
        {% endfor %}
        </ul>
    <span>قیمت :{{ product.price }}</span>
    <br>
    {% if product.offers %}
        <span>قیمت پس از تخفیف :{{ product.new_price }}</span>
    {% endif %}
    <br>
    <br>

    <button id="add-cart" type="button">افزودن به سبد خرید</button>


 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $(document).ready(function (){
            $('#add-cart').click(function (){
                $.ajax({
                    type: 'POST',
                    url: '{% url 'cart:add_to_cart' product.id %}',
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    success: function (response){
                        $('.item-count').text(response.item_count);
                        $('.total-price').text(response.total_price);
                    },
                })
            })
        })
    </script>

{% endblock %}
